<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Framework Guru</title>
</head>
<body>
<h1>booklist</h1>

<table>
  <thead>
  <tr>
    <th>id</th>
    <th>firstName</th>
    <th>lastName</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}">123</td>
    <td th:text="${author.firstName}">Spring in Action</td>
    <td th:text="${author.lastName}">Wrox</td>
  </tr>
  </tbody>
</table>
</body>
</html>